asgiref==3.8.1
crispy-bootstrap5==2025.4
python-decouple==3.8
Django==5.2
django-crispy-forms==2.3
psycopg2-binary==2.9.10
sqlparse==0.5.3
tzdata==2025.2
dj-database-url==2.1.0
gunicorn==21.2.0
whitenoise==6.6.0
django-heroku==0.3.1
django-countries==7.6.1
pillow==11.1.0
